.coinRow {
    display: grid;
    grid-template-columns: 5% 20% 10% 15% 20% 10% 20%;
    margin: 20px;
    border: solid 2px linear-gradient(rgb(192, 212, 212), black);
    align-items: center;
}

.coinIconImg {
    width: 40px;
    height: auto;
}

.coinPrice {
    text-align: right;
}

.coinSize {
    text-align: right;
}

.coinChangePercentage {
    text-align: right;
}

.coinMarketCap {
    text-align: right;
}