.searchDiv {
    display: flex;
    justify-content: space-around;
}
.searchForm {
    width: 80%;
    text-align: center;
}
.searchInput {
    width: 100%;
    height: 30px;
    border-radius: 9px;
}